{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="container">

    <div class="row">
        <div class="col-sm-4 offset-4">
        <div class="card_registration mt-5 mb-4">
        <main class="form-signin mt-4">
            <h1 class="h3 mb-3 fw-normal text-center">Password Reset Completed</h1>
            <div class="col-sm-12">
                <p class="text-center mt-2">Remember Password?</p>
                <p class="text-center" style="margin-top: -15px">
                    Your password has been set. You may go ahead and <a class="px-2" href="{% url 'user:login' %}">
                    <big>Log In</big></a> Now
                </p>
            </div>
        </main>
    </div>
    </div>
</div>
</div>
{% endblock %}